/* stylelint-disable docusaurus/copyright-header */

.flex.row {
  flex-direction: row;
}

.person {
  display: block;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  min-height: 100vh;
}

/* LETTERS */
.letterC {
  stroke-dasharray: 1304.1647949218756942069;
  stroke-dashoffset: 1304.1647949218756942069;
}

.letterA {
  stroke-dasharray: 1488.028320312569;
  stroke-dashoffset: 1488.028320312569;
}

.letterW {
  stroke-dasharray: 2263.72314453125;
  stroke-dashoffset: 2263.72314453125;
}

.letterK {
  stroke-dasharray: 1532.580078125;
  stroke-dashoffset: 1532.580078125;
}
