/* COLOuRS */
:root {
  --corgibeige: #f4b670;
  --corgibrown: #3f2410;
  --corgipink: #ffa2a2;
  --corgiwhite: #fff7f1;
}
/* NAV BAR */
.navBox {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: var(--brown);
}
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav-link {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-family: "Segoe UI";
  font-size: small;
}

.nav-link:hover {
  background-color: var(--corgibeige);
}

/* HOME PAGE */
.homeScreen {
  flex: 1;
  border-style: solid;
}
.title {
  display: flex;
  color: black;
  text-decoration: none;
  font-family: "Segoe UI";
  font-size: 56;
}
.body {
  font-family: "Segoe UI";
}
