/* COLOuRS */
:root {
  --corgibeige: #f4b670;
  --corgibrown: #3f2410;
  --corgipink: #ffa2a2;
  --corgiwhite: #fff7f1;
}
/* NAV BAR */
.navBox {
  display: flex;
  height: 80px;
  border-bottom: solid 0.5px var(--corgibrown);
}
.navList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.corgi {
  flex: 1;
  width: 40px;
  padding: 0px 10px;
}
.logoBox {
  display: flex;
  position: absolute;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
  align-self: center;
  justify-content: center;
  justify-self: center;
  /* border-style: solid; */
}
.logoBox:hover {
  background-color: var(--corgibeige);
}
.logo {
  display: flex;
  align-items: center;
  color: var(--corgibeige);
  text-align: center;
  align-content: center;
  padding: 30px 40px;
  text-decoration: none;
  font-family: "Segoe UI";
  font-size: 18px;
}
.nav-link {
  display: flex;
  align-self: center;
  color: black;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
  font-family: "Segoe UI";
  font-size: 18px;
}

.nav-link:hover {
  background-color: var(--corgibeige);
}

/* HOME PAGE */
.homeScreen {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 30px;
  background-color: #fafafa;
  /* border-style: solid; */
}
.homeBox {
  flex: 1;
  width: 50%;
  padding: 10px;
  /* border-style: solid; */
}
.button {
  background-color: var(--corgibeige);
  border: none;
  border-radius: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.2s;
  margin: 20px;
}
.button:hover {
  background-color: white;
  color: var(--corgibeige);
  border: 0.5px solid var(--corgibeige);
}
.iPhoneBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  /* border-style: solid; */
}
.iPhone {
  display: flex;
  align-self: flex-end;
  /* width: 100%; */
  height: 100%;
  /* border-style: solid; */
}
.title {
  display: flex;
  color: black;
  text-decoration: none;
  font-family: "Segoe UI";
  font-size: 56px;
}
.body {
  font-family: "Segoe UI";
  font-size: 20px;
}
